{% extends 'base.html' %}

{% block title %}
  Подписки
{% endblock %}

{% block content %}
{% load cache %}
{% load thumbnail %}
  <div class='container py-5'>
    {% include 'posts/includes/switcher.html' with follow=True %}
  {% cache 20 index_page %}
  <h1>Главная страница</h1>
  <h4>Последние записи пользователей</h4>
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endcache %} 

{% endblock %}